<h3>Recommended Meetups</h3>
<% @recommended_events.each do |event| %>
  <div class="recommendations row">
    <h4 class="event_date"><%= DateTime.strptime((event.utc_offset + event.time).to_s, '%Q').strftime('%m/%d/%Y') %></h4>
    <div class="today col-sm-4 col-sm-offset-4">
      <div class="event_name"><%= link_to event.name, event.event_url %></div>
      <div class="group_name">Group:  <%= event.group['name'] %></div><br/>

      <div class="location_and_time"><% unless event.venue.nil? %>
        <%= "Location:  #{event.venue['name'] unless event.venue['name'].nil?}" %><br/>
      <% end %>
      Time:  <%= DateTime.strptime((event.utc_offset + event.time).to_s, '%Q').strftime('%I:%M %p') %></div>

    <!--<#% unless event.venue.nil? %>
        <br/>
        <#%= "Event Address:  #{event.venue['address_1'] unless event.venue['address_1'].nil?}" %>
        <#%= " #{event.venue['city'] unless event.venue['city'].nil?}" %>
        <#%= " #{event.venue['state'] unless event.venue['state'].nil?}" %>
        <#%= " #{event.venue['zip'] unless event.venue['zip']}" %><br/>
        <#% end %>
     -->
    </div>
  </div>
<% end %>

<div class="misc-links col-sm-4 col-sm-offset-4">
  <a href="#" class="btn btn-default">View More Event Recommendations</a><br/>
  <a href="#" class="btn btn-default">Join More Meetup Groups</a>
</div>
