<h1>Plan To Meet</h1>

<h2>Meeting new people & making connections</h2>

<div class="row images">
    <div class="col-md-5 meetup"><%= image_tag "denver_rb.jpeg" %></div>
    <div class="col-md-2 plus"><%= image_tag "plus.jpeg" %></div>
    <div class="col-md-5 map"><%= image_tag "denver.jpeg" %></div>
</div>

<div class="down-arrow">
  <%= image_tag "down_arrow.jpeg" %>
</div>

<h3>Helping you to connect</h3>

<h4>Signup</h4>

<div class="signup">
  <%= form_for users_path do |f| %>
    <div class="form-group">
      Notifications:
      <%= f.check_box :email %>
      Email
      <%= f.check_box :text_message %>
      Text message
    </div>
    <div class="form-group">
      <%= f.email_field :email_address, placeholder: "Enter email" %>
      <%= f.password_field :password, placeholder: "Password" %>
    </div>
  <% end %>
</div>

<div class="happy">
  <%= image_tag "happy_people.jpeg" %>
</div>
