<h2>Making connections one meetup at a time</h2>

<div class="row images">
    <div class="col-md-5 meetup"><%= image_tag "denver_rb.jpeg" %></div>
    <div class="col-md-2 plus"><%= image_tag "plus.jpeg" %></div>
    <div class="col-md-5 map"><%= image_tag "denver.jpeg" %></div>
</div>

<div class="down-arrow">
  <%= image_tag "down_arrow.jpeg" %>
</div>

<div class="how-it-works-button">
  <button>How it works</button>
</div>

<div class="how-it-works-content hidden">
  it does stuff
</div>

<h3>Helping you to connect</h3>

<div class="login">
  <button><%= link_to "Sign up with Meetup", "/auth/meetup" %></button>
</div>

<div class="happy">
  <%= image_tag "happy_people.jpeg" %>
</div>


