<!DOCTYPE html>
<html>
  <head>
    <title>PlanToMeet</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1>Plan To Meet</h1>
        </div>
        <div class="login col-md-4">
          <button><%= link_to "Sign in with Meetup", "/auth/meetup" %></button>
        </div>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
