<!DOCTYPE html>
<html>
  <head>
    <title>Plan To Meet</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <% if current_user %>
            <div class="lh-50 logo">
              <%= link_to "Plan To Meet", user_path(current_user.id) %>
            </div>
          <% else %>
            <div class="lh-50 logo">Plan To Meet</div>
          <% end %>
        </div>
        <div class="collapse navbar-collapse">
          <div class="text-right lh-50">
            <% if current_user %>
              <%= link_to "Preferences", edit_user_path(id: current_user.id) %>
            <% else %>
              <%= link_to "Sign in with Meetup", "/auth/meetup", class: "btn btn-sm btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "flash-#{name}" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
